MSSQL_SA_PASSWORD=Change_this_password_123!

JWT_VALID_AUDIENCE=http://localhost:3000
JWT_VALID_ISSUER=http://localhost:5152
JWT_SECRET=JWTRefreshTokenHIGHsecuredPasswordVVVp1OH7Xzyr
JWT_TOKEN_VALIDITY_IN_MINUTES=60
JWT_REFRESH_TOKEN_VALIDITY_IN_DAYS=7

GENAI_GRPC_ADDRESS=http://genai:50051
NVIDIA_API_KEY=your-nvidia-api-key
NIM_BASE_URL=https://integrate.api.nvidia.com/v1
NIM_MODEL=your-nim-model-id
